
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/structure/pieces/StructurePieceSerializationContext.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/feature/configurations/VegetationPatchConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/feature/configurations/UnderwaterMagmaConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/feature/configurations/SimpleRandomFeatureConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/feature/configurations/RandomBooleanFeatureConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/feature/configurations/ProbabilityFeatureConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/feature/configurations/PointedDripstoneConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/feature/configurations/NetherForestVegetationConfig.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/feature/configurations/HugeMushroomFeatureConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/feature/configurations/DripstoneClusterConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/entity/ai/behavior/SetWalkTargetFromAttackTargetIfTargetOutOfReach.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/structure/placement/ConcentricRingsStructurePlacement.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/structure/templatesystem/BlackstoneReplaceProcessor.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/structure/templatesystem/JigsawReplacementProcessor.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/levelgen/structure/templatesystem/LavaSubmergedBlockProcessor.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_8eab8b65fcd19d83daf994dd954f963c/net/minecraft/world/level/storage/loot/predicates/LootItemRandomChanceWithLootingCondition.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/entity/ai/behavior/SetWalkTargetFromAttackTargetIfTargetOutOfReach.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/structure/pieces/StructurePieceSerializationContext.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/feature/configurations/VegetationPatchConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/feature/configurations/UnderwaterMagmaConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/feature/configurations/SimpleRandomFeatureConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/feature/configurations/RandomBooleanFeatureConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/feature/configurations/ProbabilityFeatureConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/feature/configurations/PointedDripstoneConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/feature/configurations/NetherForestVegetationConfig.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/feature/configurations/HugeMushroomFeatureConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/feature/configurations/DripstoneClusterConfiguration.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/structure/placement/ConcentricRingsStructurePlacement.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/structure/templatesystem/BlackstoneReplaceProcessor.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/structure/templatesystem/JigsawReplacementProcessor.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/levelgen/structure/templatesystem/LavaSubmergedBlockProcessor.java
build/tmp/expandedArchives/forge-1.18.2-40.1.0_mapped_official_1.18.2-sources.jar_4bacd9c6503b6a7380726c9fe14d9fe6/net/minecraft/world/level/storage/loot/predicates/LootItemRandomChanceWithLootingCondition.java